h1{
  font-size: 40px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 0 0 0;
  font-weight: 1000px;

}

form{
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
   margin: 10px 20px 30px 0px;

 
}
h2{
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Auth{
  padding:50px  0px 0px 500px;

}

button{
   background-color: rgb(244, 246, 247);
   border: none;
   color: rgb(78, 121, 121);
   text-decoration:none;
   font-size: 16px;
   font-weight: bold;
   padding: 5px 3px 5px 5px;
  
}



